:root {
  --color-accent-hsl: 56, 99%, 64%;
  --color-accent-dark1-hsl: 54, 100%, 49%;
  --color-accent2-hsl: 183, 83%, 46%;
  --color-bg-hsl: 48, 7%, 13%;
  --color-bg-elev1-hsl: 40, 7%, 8%;
  --color-fg-hsl: 55, 25%, 91%;
  --color-fg2-hsl: 34, 54%, 61%;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/static/galleria/Alegreya-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  src: url('/static/galleria/Alegreya-Bold.ttf') format('truetype');
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  color: hsl(var(--color-fg-hsl));
  background: hsl(var(--color-bg-hsl));
  font-family: Alegreya, sans-serif;
}
a {
  color: inherit;
}
a:hover,
a:focus {
  color: hsl(var(--color-accent-hsl));
}
svg {
  fill: none;
}
path {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
}

.alert {
  color: hsl(var(--color-accent2-hsl));
}

.button {
  position: relative;
  color: hsl(var(--color-bg-hsl));
  background-color: hsl(var(--color-accent-hsl));
  padding: 0.25rem 1.5ch;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 300ms, transform 100ms linear;
  font-family: Alegreya, sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: hsl(var(--color-bg-hsl));
  background-color: hsl(var(--color-accent-dark1-hsl));
  outline: none;
}
.button:focus::after {
  display: block;
  content: ' ';
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 2px solid hsl(var(--color-accent2-hsl));
  border-radius: 12px;
  pointer-events: none;
}
.button:active {
  transform: scale(0.98);
}

.form-group {
  margin-bottom: 1rem;
}
.textinput {
  background: none;
  color: hsl(var(--color-fg-hsl));
  font-family: Alegreya, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.25rem 1.5ch;
  border-radius: 8px;
  border: 1px solid hsl(var(--color-fg-hsl));
}
.textinput:hover,
.textinput:focus {
  border-color: hsl(var(--color-accent-dark1-hsl));
  outline: none;
}
