:root {
  --color-accent-hsl: 56, 99%, 64%;
  --color-accent-dark1-hsl: 54, 100%, 49%;
  --color-accent2-hsl: 183, 83%, 46%;
  --color-bg-hsl: 48, 7%, 13%;
  --color-bg-elev1-hsl: 40, 7%, 8%;
  --color-fg-hsl: 55, 25%, 91%;
  --color-fg2-hsl: 34, 54%, 61%;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/static/galleria/Alegreya-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  src: url('/static/galleria/Alegreya-Bold.ttf') format('truetype');
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  color: hsl(var(--color-fg-hsl));
  background: hsl(var(--color-bg-hsl));
  font-family: Alegreya, sans-serif;
}
a {
  color: inherit;
}
a:hover,
a:focus {
  color: hsl(var(--color-accent-hsl));
}
svg {
  fill: none;
}
path {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
}
