:root {
  --colorBgRgb: 56, 57, 60;
  --colorElev1BgRgb: 26, 27, 30;
  --colorFgRgb: 255, 255, 255;
  --colorAccentRgb: 254, 242, 72;
  --colorAccentHoverRgb: 240, 224, 7;
}
@font-face {
  font-family: 'Alegreya';
  src: url('/static/galleria/Alegreya-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  src: url('/static/galleria/Alegreya-Bold.ttf') format('truetype');
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  color: rgb(var(--colorFgRgb));
  background: rgb(var(--colorBgRgb));
  font-family: Alegreya, sans-serif;
}
a {
  color: inherit;
}
a:hover,
a:focus {
  color: rgb(var(--colorAccentRgb));
}
svg {
  fill: none;
}
path {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
}
