[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
django-storages = "*"
python-dotenv = "*"
pillow = "*"
boto3 = "*"
django-crispy-forms = "*"
django-shortuuidfield = "*"
djangorestframework = "*"
markdown = "*"
requests = "*"
heic-to-jpg = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.9"
