{% extends "galleria/base.html" %} 

{% load static %} 

{% block title %} 
  Collections
{% endblock %}

{% block head %} 
  <link rel="stylesheet" href="{% static "works/works.css" %}" type="text/css" /> 
  <link rel="stylesheet" href="{% static "works/collection_list.css" %}" type="text/css" /> 
{% endblock %} 

{% block main %}
  <h1>Welcome to the Galleria</h1>

  <ul class="collections">
    {% for collection in object_list %}
    <li class="collections__collection">
      <a href="{% url 'works_collection' collection.pk %}">
        <div class="collections__collection__label">
          <h2>{{ collection.title }}</h2>
          {% if collection.date %}
            <time datetime="{{ collection.date|date:"c" }}">{{ collection.date|date:"j M Y" }}</time>
          {% endif %}
        </div>
        <div class="collections__collection__img">
          {% with collection.works.all|first as work %}
          <img src="{{ work.image_cdn_url }}" />
          {% endwith %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
