{% extends "galleria/base.html" %} 
{% load static %}

{% block head %}
  <meta property="og:title" content="{{ collection.title }}"/>
  <meta property="og:type" content="article"/>
  {% if collection.title %}
    <meta property="og:description" content="{{ collection.description }}"/>
  {% endif %}
  {% with collection.works.all|first as work %}
    <meta property="og:image" content="{{ work.image_cdn_url }}"/>
  {% endwith %}
  <link rel="stylesheet" href="{% static "work/work.css" %}" type="text/css" /> 
{% endblock %}

{% block bodyend %}
  <script src="{% static "work/work.js" %}" charset="utf-8"></script>
{% endblock %}

{% block main %}
  <div class="collection__intro">
    <h1>{{ collection.title }}</h1>
    <p>
      {{ collection.description|default:"" }}
    </p>
  </div>

  <ul class="works">
    {% for work in collection.works.all %}
    <li class="works__work">
      <img src="{{ work.image_cdn_url }}" alt="{{ work.title }}" loading="lazy" tabindex="0" />
    </li>
    {% endfor %}
  </ul>
{% endblock %}
