/* collection_list page */
.collections {
  --img-dimension: 256px;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--img-dimension));
  grid-gap: 1rem;
}
.collections__collection a {
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  transition: 300ms;
}
.collections__collection a:hover,
.collections__collection a:focus {
  outline: none;
  color: hsl(var(--color-accent-hsl));
}
.collections__collection__label {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
}
.collections__collection__label h2 {
  margin: 0;
  font-size: 1rem;
}
.collections__collection__label time {
  color: hsla(var(--color-fg-hsl), 0.5);
}
.collections__collection__img {
  background: hsl(var(--color-bg-elev1-hsl));
  line-height: 0;
  height: var(--img-dimension);
  width: var(--img-dimension);
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: border-color 300ms;
}
.collections__collection a:hover .collections__collection__img,
.collections__collection a:focus .collections__collection__img {
  border-color: hsl(var(--color-accent-hsl));
}
.collections__collection img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
