/* works app components */
.works_nav_row {
  display: flex;
}
.works_nav_row > * {
  margin-right: 2ch;
}

.works_label--icon {
  display: inline-flex;
  align-items: center;
}
.works_label--icon svg {
  margin-right: 0.25rem;
}
