/* works app components */
.works_nav_row {
  display: flex;
}
.works_nav_row > * {
  margin-right: 2ch;
}

.works_button {
  position: relative;
  color: rgb(var(--colorBgRgb));
  background-color: rgb(var(--colorAccentRgb));
  padding: 0.25rem 1.5ch;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 300ms, transform 100ms linear;
  font-family: Alegreya, sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.works_button:hover,
.works_button:focus {
  color: rgb(var(--colorBgRgb));
  background-color: rgb(var(--colorAccentHoverRgb));
  outline: none;
}
.works_button:focus::after {
  display: block;
  content: ' ';
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 2px solid rgb(var(--colorAccent2Rgb));
  border-radius: 12px;
  pointer-events: none;
}
.works_button:active {
  transform: scale(0.98);
}

.works_label--icon {
  display: inline-flex;
  align-items: center;
}
.works_label--icon svg {
  margin-right: 0.25rem;
}

/* collection_list page */
.collections {
  --img-dimension: 256px;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--img-dimension));
  grid-gap: 1rem;
}
.collections__collection a {
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  transition: 300ms;
}
.collections__collection a:hover,
.collections__collection a:focus {
  outline: none;
  color: rgb(var(--colorAccentRgb));
  text-decoration: underline;
}
.collections__collection h2 {
  margin: 0.5rem 0 1rem 0;
  text-align: center;
  font-size: 1rem;
}
.collections__collection__img {
  background: rgb(var(--colorElev1BgRgb));
  line-height: 0;
  height: var(--img-dimension);
  width: var(--img-dimension);
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: border-color 300ms;
}
.collections__collection a:hover .collections__collection__img,
.collections__collection a:focus .collections__collection__img {
  border-color: rgb(var(--colorAccentRgb));
}
.collections__collection img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

/* collection_detail page */
.collection_text {
  background: rgb(var(--colorElev1BgRgb));
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}
.collection_text a svg {
  height: 1.15rem;
  width: 1.15rem;
}
.collection_text h1 {
  color: rgb(var(--colorAccentRgb));
}
@media (min-width: 800px) {
  .collection_intro header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
}
.collection_share {
  margin-top: 1rem;
}
@media (min-width: 800px) {
  .collection_admin {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    align-items: start;
  }
  .collection_share {
    margin-top: 0;
  }
}
.works {
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}
.works__work {
  margin-bottom: 1rem;
}
.works__work img {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms;
  border-radius: 8px;
  border: 2px solid transparent;
}
.works__work img:hover,
.works__work img:focus {
  border: 2px solid rgb(var(--colorAccentRgb));
}
.works__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(var(--colorElev1BgRgb), 0.9);
  padding: 2rem;
}
.works__modal--hidden {
  display: none;
}
.works__modal img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* animation: slideup 300ms ease-out forwards; */
}
.works__modal button {
  line-height: 0;
}
.works__modal__controls {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.works__modal__controls > *:not(:last-child) {
  margin-right: 0.5rem;
}
.works__modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.works__modal__play {
  position: relative;
}
.works__modal__play--playing::before {
  position: absolute;
  content: ' ';
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 100%;
  background: rgba(var(--colorAccentRgb), 0.5);
  border-radius: 3px;
}
@keyframes progress {
  100% {
    width: 100%;
  }
}
.works__modal__play--playing::after {
  position: absolute;
  content: ' ';
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 0;
  background: rgba(var(--colorAccentRgb), 1);
  border-radius: 3px;
  animation: progress 2500ms linear forwards;
}
.works__modal__play .works__modal__play-icon {
  display: none;
}
.works__modal__play .works__modal__pause-icon {
  display: inline-block;
}
.works__modal__play--paused .works__modal__play-icon {
  display: inline-block;
}
.works__modal__play--paused .works__modal__pause-icon {
  display: none;
}
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media screen and (min-width: 768px) {
  .works {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
  }
  .works__work {
    margin-bottom: 0;
  }
  .works__work:nth-child(5n + 1) {
    grid-column: span 4;
    grid-row: span 2;
  }
  .works__work:nth-child(5n + 2),
  .works__work:nth-child(5n + 3) {
    grid-column: span 2;
  }
  .works__work:nth-child(5n + 4),
  .works__work:nth-child(5n + 5) {
    grid-column: span 3;
  }
}
