{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block titlebase %}{% block title %}{% endblock title %} | Galleria{% endblock titlebase %}</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#38393C" />

    <link rel="shortcut icon" href="{% static "galleria/favicon.png" %}" type="image/png" />
    <link rel="stylesheet" href="{% static "galleria/galleria.css" %}" type="text/css" /> 

    {% block head %}{% endblock %}
  </head>

  <body>
    <main>
      {% block main %}
        <p>Galleria</p>
      {% endblock %}
    </main>
    {% block bodyend %}{% endblock %}
  </body>
</html>
